// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.user-info {
  font-family: Serif;
	color: #444;
	margin: 0;
	padding: 0px 0px 6px 0px;
	font-size: 1.5em;
	line-height: 44px;
	letter-spacing: -1px;
	font-weight: bold;
}
